<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>convertor!</h1>
    <h4><p><i>Instruction. Supported currencies: USD,EUR,UAH. Input example: 121.12 UAH.<br> Supported distance: kilometer, meter. Input example: 14.2 kilometer.</i></p></h4>
    <form method="POST">
        <p>output on <select id="highlightunits" name="lenguage" style="width:70px;">
        <option selected="" value="UAH">UA</option>
        <option value="RUB">RU</option>
        </select><br>
        </p>
        <input name="main_input" placeholder="100"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>